@import url('/assets/css/receita/receita-botao.css');
@import url('/assets/css/receita/receita-conteudo.css');
@import url('/assets/css/receita/receita-descricao.css');
@import url('/assets/css/receita/receita-imagem.css');
@import url('/assets/css/receita/receita-titulo.css');
@import url('/assets/css/receita/receita.css');


.receitas {
    background: #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    overflow: hidden;
    flex-wrap: wrap;
    padding: 5rem 2rem;
}